body{ 
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
    min-width: 800px;
    min-height: 500px;
    background-color: #533e3b;
}

.game {
    background-color: #987364;
    border: 2px solid white;
    text-align: center;
    margin: 10px auto;
}

.info {
    text-align: center;
    margin: 5px auto 0px auto;
    width: 700px;
    height: 80px;
    display: flex;
}

.info div {
    margin: auto auto auto auto; /* Center text vertically and horizontally, I give up on doing it properly */
    padding: 20px; /* Add padding so that information is spaced correctly  */
    color: black;
}

.info div.word {
    min-width: 150px; /* Ensure that the word is always visible */
    padding: 20px; /* Add padding so that information is spaced correctly  */
    color: black;
}

.board {
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid beige;
    width: 700px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center; /* Center cells horizontally */
    gap: 2px; /* Set gap between cells */
    padding: 0; /* Ensure no extra padding in the container */
}

.cell {
    text-align: center;
    display: inline-flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid black;
    width: 85px;
    height: 85px;
    box-sizing: border-box; /* Ensure padding and border are included in dimensions */
}

.cell#blank {
    background-image: url("images/BlankTile.png");
    background-position: center;

}

.cell#double-letter {
    background-image: url("images/DoubleLetter.png");
    background-position: center;

}

.cell#double-word {
    background-image: url("images/DoubleWord.png");
    background-position: center;

}



.rack{
    background-image: url('images/scrabble-tile-holder-406774_640.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    display: inline-block;
}

.tile{
    display: inline-block;
    margin: 10px auto;
    width: 70px;
    height: 70px;
}

.user-buttons{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
}

.new-hand {
    width: 100px;
    margin: 0 auto;
    display: inline-block;
}

.reset {
    width: 100px;
    margin: 0 auto;
    display: inline-block;
}


